@font-face {
    font-family: "Blanka";
    src: url("../fonts/Blanka.otf") format("truetype");
}

@font-face {
    font-family: "Cartesian";
    src: url("../fonts/Cartesian-0W5Oo.otf") format("truetype");
}

body {
    font-family: "Cartesian";
    margin: 0;
    padding: 0;
    background-color: #020401;
    color: #ececec;
}

header {
    background-image: url("../images/abandoned-space-station-thumb-1500x844.jpg");
    color: #fff;
    text-align: center;
    padding: 200px;
    margin: auto;

}

header h1 {
    font-family:"Blanka";
    font-size: 75px;
    color: #ececec;
    text-align: center;
    float : left;
}


  .social-icons {
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 999;
  }

  .social-icons a {
    margin-right: 10px;
    text-decoration: none;
    color: #333;
    font-size: 24px;
    
  }

  .social-icons a img {
    width: 30px; /* Set the desired width for your images */
  }

  
section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    font-family: "Cartesian";
    color: #46605c;
}

.all_projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-thumbnail {
    width: 350px;
    cursor: pointer;
    margin: 10px;
}


.project {
    width: 48%;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.project:hover {
    transform: scale(1.05);
}

